loads:

  - load:
    - nodes:
      - node:
        host: trafgen1.load.wazo.io
        container: caller
        scenario: send-sip-register
        config: /opt/config-caller.py

      - node:
        host: trafgen2.load.wazo.io
        container: callee
        scenario: wait-answer
        config: /opt/config-callee.py

      - node:
        host: trafgen3.load.wazo.io
        container: ws-client
        config: /opt/config-ws.py
    ttl: 5
    tag: sip-call

  - load:
    - nodes:
      - node:
        host: trafgen1.load.wazo.io
        container: caller
        scenario: send-sip-register
        config: /opt/config-caller.py

      - node:
        host: trafgen2.load.wazo.io
        container: callee
        scenario: wait-answer
        config: /opt/config-callee.py

      - node:
        host: trafgen3.load.wazo.io
        container: ws-client
        config: /opt/config-ws.py
        script: /usr/local/bin/stress.sh
        cmd: sh -c "sleep infinity"
    ttl: 5
    tag: websocket-stress-test
