[Unit]
Description=Trafgen Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker compose -f /etc/trafgen/docker-compose.yml up -d --remove-orphans
ExecStop=/usr/bin/docker compose -f /etc/trafgen/docker-compose.yml down
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
