{% macro dump_stacks(port) -%}
{% for server in wazo_servers %}'{{ server.host }}:{{ port }}'{%- if loop.last %}{% else %}, {% endif %}{% endfor %}
{%- endmacro %}
{% macro dump_edges(port) -%}
{% for server in edge_servers %}'{{ server.host }}:{{ port }}'{%- if loop.last %}{% else %}, {% endif %}{% endfor %}
{%- endmacro %}
global:
  scrape_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'asterisk'
    metrics_path: /api/asterisk/metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: [{{ dump_stacks(443) }}]

  - job_name: wazo-agentd
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/agentd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-agentd'

  - job_name: wazo-amid
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/amid/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-amid'

  - job_name: wazo-auth
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/auth/0.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-auth'

  - job_name: wazo-call-logd
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/call-logd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-call-logd'

  - job_name: wazo-calld
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/calld/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-calld'

  - job_name: wazo-chatd
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/chatd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-chatd'

  - job_name: wazo-confd
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/confd/1.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-confd'

  - job_name: wazo-dird
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/dird/0.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-dird'

  - job_name: wazo-phoned
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/phoned/0.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-phoned'

  - job_name: wazo-sysconfd
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/sysconfd/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'fastapi'
          service: 'wazo-sysconfd'

  - job_name: wazo-webhookd
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/webhookd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
        labels:
          framework: 'flask'
          service: 'wazo-webhookd'

  - job_name: nginx
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/nginx/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]

  - job_name: rabbitmq
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/rabbitmq/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]

  - job_name: postgresql
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/postgresql/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]

  - job_name: node
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/node/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]

  - job_name: process
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/process/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
{% if load_testing %}
  - job_name: load-testing
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/load-testing/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
{%- endif %}
{% if edge_servers %}
  - job_name: edge-kamailio
    scheme: http
    tls_config:
      insecure_skip_verify: true
    metrics_path: /kamailio/metrics
    static_configs:
      - targets: [{{ dump_edges(6387) }}]

  - job_name: edge-traefik
    scheme: http
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics
    static_configs:
      - targets: [{{ dump_edges(6387) }}]
{% endif %}
