{% macro dump_stacks(port) -%}
{% for server in wazo_servers %}'{{ server.host }}:{{ port }}'{%- if loop.last %}{% else %}, {% endif %}{% endfor %}
{%- endmacro -%}
{% macro dump_edges(port) -%}
{% for server in edge_servers %}'{{ server.host }}:{{ port }}'{%- if loop.last %}{% else %}, {% endif %}{% endfor %}
{%- endmacro -%}
global:
  scrape_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'asterisk'
    metrics_path: /asterisk/metrics
    scheme: http
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]

  - job_name: wazo-agentd
    scheme: http
    metrics_path: /agentd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-agentd'

  - job_name: wazo-amid
    scheme: http
    metrics_path: /amid/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-amid'

  - job_name: wazo-auth
    scheme: http
    metrics_path: /auth/0.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-auth'

  - job_name: wazo-call-logd
    scheme: http
    metrics_path: /call-logd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-call-logd'

  - job_name: wazo-calld
    scheme: http
    metrics_path: /calld/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-calld'

  - job_name: wazo-chatd
    scheme: http
    metrics_path: /chatd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-chatd'

  - job_name: wazo-confd
    scheme: http
    metrics_path: /confd/1.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-confd'

  - job_name: wazo-dird
    scheme: http
    metrics_path: /dird/0.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-dird'

  - job_name: wazo-phoned
    scheme: http
    metrics_path: /phoned/0.1/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-phoned'

  - job_name: wazo-sysconfd
    scheme: http
    metrics_path: /sysconfd/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'fastapi'
          service: 'wazo-sysconfd'

  - job_name: wazo-webhookd
    scheme: http
    metrics_path: /webhookd/1.0/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
        labels:
          framework: 'flask'
          service: 'wazo-webhookd'

  - job_name: nginx
    scheme: http
    metrics_path: /nginx/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]

  - job_name: rabbitmq
    scheme: http
    metrics_path: /rabbitmq/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]

  - job_name: postgresql
    scheme: http
    metrics_path: /postgresql/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]

  - job_name: node
    scheme: http
    metrics_path: /node/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]

  - job_name: process
    scheme: http
    metrics_path: /process/metrics
    static_configs:
      - targets: [{{ dump_stacks(6387) }}]
{% if load_testing %}
  - job_name: load-testing
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/load-testing/metrics
    static_configs:
      - targets: [{{ dump_stacks(443) }}]
{%- endif %}
{% if edge_servers %}
  - job_name: edge-kamailio
    scheme: http
    metrics_path: /kamailio/metrics
    static_configs:
      - targets: [{{ dump_edges(6387) }}]

  - job_name: edge-traefik
    scheme: http
    metrics_path: /metrics
    static_configs:
      - targets: [{{ dump_edges(6387) }}]
{% endif %}
