[Unit]
Description=dns resolver
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

ExecStart=start-bind.sh

[Install]
WantedBy=multi-user.target
